
<div id="content">
  
<h1 style="padding-bottom:20px;">Listing pages</h1>

<table>
  <tr>
    <th style="padding-bottom:10px;">Name</th>
    <th style="padding-bottom:10px;">Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td style="padding-right:10px;"><%= page.name %></td>
    <td><%= page.content %></td>
    <td style="padding-left:25px;"><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_page_path %>
<div id="logout" style="float:right; padding-right:20px;">
<%= link_to 'Logout', logout_path %>
</div>
</div>