<div id="content">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @page.name %>
</p>

<p>
  <b>Content:</b>
  <%= @page.content %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
<div id="logout" style="float:right; padding-right:20px; padding-top:90px;">
<%= link_to 'Logout', logout_path %>
</div>
</div>