<div id="Editor">
<h1 style="padding-bottom:20px;">Editing upload</h1>

<style type="text/css" media="screen">
  #editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
</style>


<%= form_for(@page) do |f| %>

  <input type="text" name="upload[name]" style="display:none;">Name</input>


  <%= f.text_field :name %>


  <div style="position:relative; width:100%; height:300px">
    <%= f.text_area :content, id:"editor_text" %>
    <div id="editor" style="padding-top:15px;"></div>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
<%= link_to 'Show', @upload %> |
<%= link_to 'Back', uploads_path %>
</div>