<!DOCTYPE html>
<html style="background-color:#222">
<head>
  <title>CMS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background:#222;">
	  <div id="main-nav-holder">
  <nav id="main-nav">
    <ul>
      <li>
            <%= link_to "Pages", pages_path, id: 'pages', class: current_page?(pages_path) ? 'current' : '' %>
      </li>
      
            <li>
              <%= link_to "New page", new_page_path, id: 'new_page', class: current_page?(new_page_path) ? 'current' : ''%>
            </li>
            <li>
              <%= link_to "Uploaded files", uploads_path, id: 'new_file', class: current_page?(uploads_path) ? 'current' : ''%>
            </li>
            <li>
              <%= link_to "Upload file", newFile_path, id: 'new_file', class: current_page?(newFile_path) ? 'current' : ''%>
            </li>
            <li>
              <%= link_to "Sign up", signup_path, id: 'sign_up', class: current_page?(signup_path) ? 'current' : ''%>
            </li>
    </ul>
  </nav>
</div>
<div id:="page" style="background-color: #222; height:100%;"><%= yield %>


</body>
</html>
